@font-face {
  font-family: 'DancingScriptOT';
  src: url("../fonts/DancingScriptOT.eot");
  src: url("../fonts/DancingScriptOT.eot?#iefix") format("embedded-opentype"), url("../fonts/DancingScriptOT.woff") format("woff"); }

@font-face {
  font-family: 'SFUBaskervilleBookItalic';
  src: url("../fonts/SFUBaskervilleBookItalic.eot");
  src: url("../fonts/SFUBaskervilleBookItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/SFUBaskervilleBookItalic.woff") format("woff"); }

@font-face {
  font-family: 'DancingScriptRegular';
  src: url("../fonts/DancingScriptRegular.eot");
  src: url("../fonts/DancingScriptRegular.eot") format("embedded-opentype"), url("../fonts/DancingScriptRegular.woff2") format("woff2"), url("../fonts/DancingScriptRegular.woff") format("woff"), url("../fonts/DancingScriptRegular.ttf") format("truetype"), url("../fonts/DancingScriptRegular.svg#DancingScriptRegular") format("svg"); }

@font-face {
  font-family: 'UTMGradoo';
  src: url("../fonts/UTMGradoo.eot");
  src: url("../fonts/UTMGradoo.eot") format("embedded-opentype"), url("../fonts/UTMGradoo.woff2") format("woff2"), url("../fonts/UTMGradoo.woff") format("woff"), url("../fonts/UTMGradoo.ttf") format("truetype"), url("../fonts/UTMGradoo.svg#UTMGradoo") format("svg"); }

@font-face {
  font-family: 'BentonSansLight';
  src: url("../fonts/BentonSansLight.eot");
  src: url("../fonts/BentonSansLight.eot") format("embedded-opentype"), url("../fonts/BentonSansLight.woff2") format("woff2"), url("../fonts/BentonSansLight.woff") format("woff"), url("../fonts/BentonSansLight.ttf") format("truetype"), url("../fonts/BentonSansLight.svg#BentonSansLight") format("svg"); }

/*! normalize.css v7.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0; }

/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */
figcaption,
figure,
main {
  /* 1 */
  display: block; }

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px; }

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

/**
 * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */ }

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit; }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic; }

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000; }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block; }

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none; }

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */
details,
menu {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block; }

/**
 * Add the correct display in IE.
 */
template {
  display: none; }

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none; }

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit; }

/* ==========================================================================
   #RESET
   ========================================================================== */
/**
 * A very simple reset that sits on top of Normalize.css.
 */
body,
h1, h2, h3, h4, h5, h6,
blockquote, p, pre,
dl, dd, ol, ul,
figure,
hr,
fieldset, legend {
  margin: 0;
  padding: 0; }

/**
 * Remove trailing margins from nested lists.
 */
li > ol,
li > ul {
  margin-bottom: 0; }

/**
 * Remove default table spacing.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/**
 * 1. Reset Chrome and Firefox behaviour which sets a `min-width: min-content;`
 *    on fieldsets.
 */
fieldset {
  min-width: 0;
  /* [1] */
  border: 0; }

h1, h2, h3, h4, h5, h6,
ul, ol, dl,
blockquote, p, address,
hr,
table,
fieldset, figure,
pre {
  margin-bottom: 24px; }

ul, ol,
dd {
  margin-left: 24px; }

* {
  outline: 0; }

html {
  font-size: 16px;
  /* [1] */
  line-height: 1.5 !important;
  /* [1] */
  overflow-y: scroll;
  /* [2] */
  min-height: 100%;
  /* [3] */
  height: 5000px; }

body {
  height: 100%;
  color: #686868;
  font-family: "Montserrat", sans-serif; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

a {
  color: #686868; }
  a:hover {
    text-decoration: none;
    color: inherit; }

p {
  margin-bottom: 0; }

img {
  max-width: 100%;
  vertical-align: middle; }

/*
==========================================================================
   START HEADING ELEMENTS
==========================================================================
*/
h1 {
  font-size: 36px;
  font-size: 2.25rem;
  line-height: 1.33333; }

h2 {
  font-size: 28px;
  font-size: 1.75rem;
  line-height: 1.71429;
  margin-bottom: 0; }

h3 {
  font-size: 24px;
  font-size: 1.5rem;
  line-height: 1; }

h4 {
  font-size: 20px;
  font-size: 1.25rem;
  line-height: 1.2; }

h5 {
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 1.33333; }

h6 {
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.5; }

/*
==========================================================================
   END HEADING ELEMENTS
==========================================================================
*/
/*
==========================================================================
   START CONTAINER OBJECT
==========================================================================
*/
.o-container {
  width: 1170px;
  margin: 0 auto; }

/*
==========================================================================
   END CONTAINER OBJECT
==========================================================================
*/
/*
==========================================================================
   START CLOCK OBJECT
==========================================================================
*/
.o-clock__item {
  width: 60px;
  height: 60px;
  display: inline-block;
  margin-right: 20px;
  border-radius: 50%;
  border: 1px dashed #d9bda6;
  text-align: center;
  color: #a47645;
  position: relative; }

.o-clock__times {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }

.o-clock__times__number {
  font-size: 20px;
  line-height: 24px; }

.o-clock__times__text {
  font-size: 13px;
  line-height: 13px; }

/*
==========================================================================
   END CLOCK OBJECT
==========================================================================
*/
/*
==========================================================================
   START RATING OBJECT
==========================================================================
*/
.o-rating .fa {
  font-size: 20px;
  margin: 0 3px;
  color: #eec522; }

.o-rating--small .fa {
  font-size: 15px; }

/*
==========================================================================
   END RATING OBJECT
==========================================================================
*/
/*
==========================================================================
   START HEADER COMPONENT
==========================================================================
*/
.c-header {
  font-family: "Montserrat", sans-serif;
  border-top: 2px solid #f87617;
  padding: 15px 0 0 0;
  margin-bottom: 5px; }

.c-header__container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: flex-end; }

.c-header__topbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  border-bottom: 1px solid #fafafa;
  padding-bottom: 15px;
  margin-bottom: 15px; }

.c-header__bottombar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-right: 20px; }

.c-header__ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0; }

.c-header__li {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 15px; }
  .c-header__li:hover ul {
    opacity: 1;
    visibility: visible; }
  .c-header__li + .c-header__li {
    border-left: 1px solid #dddddd; }
  .c-header__li i {
    font-size: 14px; }
  .c-header__li span {
    margin: 0 10px;
    color: #686868;
    font-size: 12px; }
  .c-header__li--languages img {
    width: 22px; }
  .c-header__li--wishlist span {
    font-weight: bold;
    color: #010101; }

.c-header__mega {
  font-size: 14px;
  font-weight: 500; }

.c-header__mega__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center; }

.c-header__mega__li {
  position: relative; }
  .c-header__mega__li + li {
    margin-left: 50px; }
  .c-header__mega__li a span {
    margin-right: 10px; }

.c-header__cart {
  position: relative;
  margin-left: 50px; }
  .c-header__cart--number {
    position: absolute;
    z-index: 1;
    top: -11px;
    left: 10px;
    background-color: #ef4b69;
    border-radius: 50%;
    color: #fff;
    font-size: 13px;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center; }

/*
==========================================================================
   END HEADER COMPONENT
==========================================================================
*/
/*
==========================================================================
   START FA (FONTAWESOME) COMPONENT
==========================================================================
*/
.fa {
  color: #686868;
  cursor: pointer; }

.c-fa--pink {
  color: #ef4b69; }

.c-fa--green {
  color: #6cc111; }

/*
==========================================================================
   END FA (FONTAWESOME) COMPONENT
==========================================================================
*/
/*
==========================================================================
   START MEGA MENU COMPONENT
==========================================================================
*/
.c-mega-menu {
  position: absolute;
  top: 30px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  z-index: 2;
  opacity: 0;
  visibility: hidden;
  background-color: #fff;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  border-bottom: 2px solid #ef4b69;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 2px 2px 7px;
  box-shadow: rgba(0, 0, 0, 0.3) 2px 2px 7px; }
  .c-mega-menu--hover:hover > .c-mega-menu {
    opacity: 1;
    visibility: visible; }

.c-mega-menu__li {
  font-weight: normal;
  margin: 0 15px;
  padding: 13px 0;
  font-size: 14px;
  border-bottom: 1px solid #f5f5f5; }
  .c-mega-menu__li--noline {
    border-bottom: 0px; }
  .c-mega-menu__li a {
    display: inline-block;
    width: 100%; }
    .c-mega-menu__li a.active, .c-mega-menu__li a:hover, .c-mega-menu__li a:hover span, .c-mega-menu__li a.active span {
      color: #ef4b69; }

.c-mega-menu__languages {
  width: 145px; }

.c-mega-menu__currency {
  width: 230px; }

.c-mega-menu__home {
  width: 210px; }

.c-mega-menu__lookbook {
  width: 210px; }

.c-mega-menu__blog {
  width: 210px; }
  .c-mega-menu__blog .c-mega-menu__li a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }

.c-mega-menu__blog__sub {
  width: 285px;
  top: 26px;
  left: 168%; }

.c-mega-menu__shop {
  width: 645px;
  -webkit-transform: translate(-15%, 0);
      -ms-transform: translate(-15%, 0);
          transform: translate(-15%, 0);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .c-mega-menu__shop > li {
    margin: 0; }
  .c-mega-menu__shop--left {
    width: 64%;
    margin-right: 30px; }
    .c-mega-menu__shop--left div {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; }
  .c-mega-menu__shop--right {
    width: 30%; }

.c-mega-menu__shop__image {
  margin: 25px 0 0 15px; }
  .c-mega-menu__shop__image img {
    width: 100%; }

.c-mega-menu__dive {
  width: 790px;
  -webkit-transform: translate(-15%, 0);
      -ms-transform: translate(-15%, 0);
          transform: translate(-15%, 0);
  padding-bottom: 13px; }
  .c-mega-menu__dive > li {
    width: 33%;
    display: inline-block;
    vertical-align: top;
    margin: 0; }
  .c-mega-menu__dive--sale-off {
    width: 100% !important;
    margin-top: 15px;
    background-image: url(../images/spritesheet.png);
    background-position: 0px 0px;
    width: 497px;
    height: 183px;
    background-repeat: no-repeat;
    background-color: #f8f7f3;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .c-mega-menu__dive--sale-off::before {
      content: '';
      width: 70%;
      height: 100%; }
  .c-mega-menu__dive--text-sale {
    text-align: center;
    width: 50%; }
    .c-mega-menu__dive--text-sale p {
      font-family: "Playfair Display", sans-serif;
      font-weight: bold;
      margin-bottom: 10px; }
    .c-mega-menu__dive--text-sale h3 {
      color: #000; }

.c-mega-menu__home {
  width: 210px; }

/*
==========================================================================
   START MEGA MENU COMPONENT
==========================================================================
*/
/*
==========================================================================
   START BUTTON COMPONENT
==========================================================================
*/
.c-button {
  font-weight: bold;
  border-radius: 30px;
  text-align: center;
  font-size: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .c-button--small {
    width: 110px;
    height: 36px; }
  .c-button--large {
    width: 160px;
    height: 46px; }

.c-button__shop {
  border: 1px solid #f06b80;
  color: #f06b80;
  background-color: #fff;
  -webkit-transition: all .3s linear;
  -o-transition: all .3s linear;
  transition: all .3s linear;
  display: inline-block;
  line-height: 36px; }
  .c-button__shop:hover {
    color: #fff;
    background-color: #f06b80; }

.c-button__most {
  background-color: #e0514b; }
  .c-button__most span {
    color: #fff;
    font-size: 12px;
    font-weight: normal; }
  .c-button__most:hover {
    background-color: #fff;
    border: 1px solid #e0514b; }
    .c-button__most:hover span {
      color: #e0514b; }

.c-button__default {
  background-color: #747474; }
  .c-button__default span {
    color: #fff;
    font-size: 12px;
    font-weight: normal; }
  .c-button__default:hover {
    background-color: #fff;
    border: 1px solid #747474; }
    .c-button__default:hover span {
      color: #747474; }

.c-button__slider {
  cursor: pointer;
  position: absolute;
  top: 50%;
  margin-top: -25px;
  z-index: 3;
  width: 50px;
  height: 50px;
  border: 2px solid #f1d5ba;
  background-color: rgba(139, 111, 83, 0.4);
  border-radius: 50%;
  text-align: center;
  -webkit-transition: all .3s linear;
  -o-transition: all .3s linear;
  transition: all .3s linear; }
  .c-button__slider::before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 1px;
    height: 100%; }
  .c-button__slider:hover .fa {
    color: #ef4b69; }
  .c-button__slider--next {
    right: 40px; }
  .c-button__slider--prev {
    left: 40px; }

.c-button__slider .fa {
  -webkit-transition: all .3s linear;
  -o-transition: all .3s linear;
  transition: all .3s linear;
  color: #fff;
  display: inline-block;
  vertical-align: middle; }

.c-button__white {
  cursor: pointer;
  background-color: transparent;
  border: 1px solid #fff;
  width: 150px;
  height: 45px;
  color: #fff;
  -webkit-transition: all .3s linear;
  -o-transition: all .3s linear;
  transition: all .3s linear; }
  .c-button__white:hover, .c-button__white--active {
    background-color: #fff;
    color: #ef4b69; }

/*
==========================================================================
   END BUTTON COMPONENT
==========================================================================
*/
/*
==========================================================================
   START ARROW COMPONENT
==========================================================================
*/
.c-arrow__right {
  width: 0px;
  height: 0px;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid #ef4b69;
  display: block; }

/*
==========================================================================
   END ARROW COMPONENT
==========================================================================
*/
/*
==========================================================================
   START CART COMPONENT
==========================================================================
*/
.c-cart {
  width: 385px;
  position: absolute;
  top: 30px;
  right: -235%;
  z-index: 2;
  opacity: 0;
  visibility: hidden;
  background-color: #fff;
  border-bottom: 2px solid #ef4b69;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 2px 2px 7px;
          box-shadow: rgba(0, 0, 0, 0.3) 2px 2px 7px;
  padding: 15px 5px; }
  .c-cart--one-button {
    text-align: center; }
  .c-cart--multi-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }

.c-cart--hover:hover .c-cart {
  opacity: 1;
  visibility: visible; }

.c-cart__title {
  color: #000000;
  font-size: 12px;
  font-weight: bold;
  padding: 0 15px; }
  .c-cart__title p {
    border-bottom: 1px solid #e9e9e9;
    padding-bottom: 13px; }

.c-cart__item__img {
  margin-right: 15px; }
  .c-cart__item__img img {
    width: 70px; }

.c-cart__item {
  display: block; }

.c-cart__item__block {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 16px 0;
  border-bottom: 1px solid #e9e9e9; }

.c-cart__item__slimscroll {
  padding: 0 15px; }

.c-cart__item__content {
  width: 100%; }
  .c-cart__item__content--link {
    color: #383838;
    font-size: 12px;
    font-weight: bold; }
  .c-cart__item__content--price {
    font-family: "DancingScriptOT", sans-serif;
    font-size: 14px;
    color: #e0514b; }
  .c-cart__item__content--quantily {
    font-size: 10px;
    color: #aaaaaa; }

.c-cart__button {
  border-bottom: 0 !important;
  margin-top: 16px;
  padding: 0 15px; }

.c-cart__wishlist {
  right: 50%;
  -webkit-transform: translate(50%, 0);
      -ms-transform: translate(50%, 0);
          transform: translate(50%, 0); }

/*
==========================================================================
   END CART COMPONENT
==========================================================================
*/
/*
==========================================================================
   START BANNER COMPONENT
==========================================================================
*/
.c-banner {
  position: relative; }

.c-banner__waves {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 7px;
  background: url(../images/img-wave.png) repeat-x left top;
  z-index: 1; }

.c-banner__mouse {
  position: absolute;
  bottom: 12px;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 3; }
  .c-banner__mouse img {
    -webkit-animation: rubberBand 1s infinite both;
            animation: rubberBand 1s infinite both; }

@-webkit-keyframes rubberBand {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1); }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1); }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1); }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1); }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1); }
  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); } }

@keyframes rubberBand {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1); }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1); }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1); }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1); }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1); }
  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); } }

.c-banner__item {
  position: relative; }
  .c-banner__item.slick-current .c-banner__item__caption p {
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
    opacity: 1;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    -webkit-transition-delay: .2s;
         -o-transition-delay: .2s;
            transition-delay: .2s; }
  .c-banner__item.slick-current .c-banner__item__caption h1 {
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
    opacity: 1;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    -webkit-transition-delay: .4s;
         -o-transition-delay: .4s;
            transition-delay: .4s; }
  .c-banner__item.slick-current .c-banner__item__caption b {
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
    opacity: 1;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    -webkit-transition-delay: .6s;
         -o-transition-delay: .6s;
            transition-delay: .6s; }

.c-banner__item__caption {
  position: absolute;
  width: 100%;
  z-index: 3;
  text-align: center; }
  .c-banner__item__caption P {
    font-family: "DancingScriptOT", sans-serif;
    font-size: 60px;
    -webkit-transition: all .1s;
    -o-transition: all .1s;
    transition: all .1s;
    -webkit-transition-delay: 0s;
         -o-transition-delay: 0s;
            transition-delay: 0s;
    opacity: 0;
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0); }
  .c-banner__item__caption h1 {
    font-family: "Montserrat", sans-serif;
    font-size: 100px;
    text-transform: uppercase;
    margin: -20px 0 30px 0;
    -webkit-transition: all .1s;
    -o-transition: all .1s;
    transition: all .1s;
    -webkit-transition-delay: 0s;
         -o-transition-delay: 0s;
            transition-delay: 0s;
    opacity: 0;
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0); }
    .c-banner__item__caption h1 span {
      color: #afd66e; }
  .c-banner__item__caption b {
    font-family: "UTMGradoo", sans-serif;
    color: #ef4b69;
    display: block;
    font-size: 100px;
    margin: -50px 0 30px 0;
    -webkit-transition: all .1s;
    -o-transition: all .1s;
    transition: all .1s;
    -webkit-transition-delay: 0s;
         -o-transition-delay: 0s;
            transition-delay: 0s;
    opacity: 0;
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0); }
  .c-banner__item__caption--slider1 {
    color: #37181c;
    top: 25%;
    font-weight: 700; }
    .c-banner__item__caption--slider1 h1 {
      font-weight: bold; }
  .c-banner__item__caption--slider2 {
    color: #fff;
    top: 48%;
    font-weight: normal; }
    .c-banner__item__caption--slider2 p {
      font-family: "SFUBaskervilleBookItalic", sans-serif;
      font-size: 52px; }
  .c-banner__item__caption--slider3 {
    color: #fff;
    top: 36%;
    font-weight: normal;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: left; }
    .c-banner__item__caption--slider3 p {
      font-family: "SFUBaskervilleBookItalic", sans-serif;
      font-size: 41px;
      text-shadow: 0 0 9px rgba(0, 0, 0, 0.5); }
    .c-banner__item__caption--slider3 h1 {
      color: #ef4b69;
      font-size: 72px;
      font-weight: bold;
      margin: 5px 0 30px 0; }
    .c-banner__item__caption--slider3::before {
      content: '';
      width: 45%;
      height: 100%; }
  .c-banner__item__caption--slider3-middle {
    width: 50%; }

.c-banner__item__bg {
  width: 100%;
  height: 790px;
  display: block; }
  .c-banner__item__bg--img1 {
    background: url(../images/home/bg-banner.jpg) 50% 50%/cover padding-box; }
  .c-banner__item__bg--img2 {
    background: url(../images/home/bg-banner2.jpg) 50% 50%/cover padding-box; }
  .c-banner__item__bg--img3 {
    background: url(../images/home/bg-banner3.jpg) 50% 50%/cover padding-box; }

.c-banner__item__people {
  position: absolute;
  right: 70px;
  top: 0;
  z-index: 2; }

.c-banner__item__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

/*
==========================================================================
   END BANNER COMPONENT
==========================================================================
*/
/*
==========================================================================
   START SPECIAL COMPONENT
==========================================================================
*/
.c-special {
  width: 100%;
  padding-top: 100px; }
  .c-special .slick-dots {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 50px; }
    .c-special .slick-dots::before {
      content: '\f177';
      display: inline-block;
      color: rgba(0, 0, 0, 0.3);
      display: inline-block;
      font: normal normal normal 24px/1 FontAwesome;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      margin: -2px 15px 0 0; }
    .c-special .slick-dots::after {
      content: '\f178';
      display: inline-block;
      color: rgba(0, 0, 0, 0.3);
      display: inline-block;
      font: normal normal normal 24px/1 FontAwesome;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      margin: -2px 0px 0 15px; }
    .c-special .slick-dots li {
      display: block;
      width: 10px;
      height: 10px;
      margin: 5px;
      border: 3px solid #6cc111;
      background-color: rgba(0, 0, 0, 0.07);
      border-radius: 5px; }
      .c-special .slick-dots li.slick-active {
        background-color: #6cc111; }
    .c-special .slick-dots li button {
      text-indent: -9999px;
      outline: 0;
      border: 0;
      background-color: #fff;
      margin: 0;
      padding: 0; }

.c-special__item {
  width: 100%;
  position: relative; }
  .c-special__item::before {
    content: '';
    width: 50%;
    height: 700px;
    position: absolute;
    left: 25%;
    bottom: 0;
    z-index: 8;
    background: #e17852;
    /* Old browsers */
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #e17852 0%, #dd5972 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: -webkit-gradient(linear, left top, right top, from(#e17852), to(#dd5972));
    background: -o-linear-gradient(left, #e17852 0%, #dd5972 100%);
    background: linear-gradient(to right, #e17852 0%, #dd5972 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */ }
  .c-special__item::after {
    content: '';
    width: 45.5%;
    height: 650px;
    position: absolute;
    left: 27.3%;
    bottom: 25px;
    z-index: 8;
    background-color: #fff; }

.c-special__img {
  width: 50%;
  padding-bottom: 80px;
  z-index: 9;
  position: relative;
  display: inline-block;
  margin-left: 20px; }
  .c-special__img img {
    width: 100%; }

.c-special__description {
  width: 40%;
  position: absolute;
  right: 0;
  bottom: 40px;
  background: #fff;
  padding: 40px 0;
  z-index: 10; }

.c-special__title {
  font-family: "DancingScriptRegular", sans-serif;
  font-size: 18px;
  color: #6cc111;
  display: block; }

.c-special__name {
  color: #442402;
  font-size: 40px;
  font-weight: 700; }

.c-special__rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.c-special__rating__id {
  font-size: 13px;
  margin: 0 0 10px 10px; }

.c-special__hr {
  width: 35px;
  height: 1px;
  background: #454545;
  border: 0;
  margin: 20px 0;
  margin-top: 10px; }

.c-special__content {
  color: #7f7f7f;
  font-size: 13px;
  line-height: 24px; }

.c-special__money {
  margin: 40px 0 60px 0; }

/*
==========================================================================
   END SPECIAL COMPONENT
==========================================================================
*/
/*
==========================================================================
   START FILTER COMPONENT
==========================================================================
*/
.c-filter--center {
  text-align: center; }

.c-filter__link {
  margin: 0 30px;
  position: relative; }
  .c-filter__link:hover, .c-filter__link.active {
    color: #ef4b69; }
  .c-filter__link::after {
    content: '';
    position: absolute;
    right: -45px;
    width: 30px;
    height: 2px;
    background: #e1e1e1;
    top: 50%;
    -webkit-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
            transform: translate(0, -50%); }
  .c-filter__link--noline::after {
    content: '';
    display: none; }

/*
==========================================================================
   END FILTER COMPONENT
==========================================================================
*/
/*
==========================================================================
   START HEADING COMPONENT
==========================================================================
*/
.c-heading--center {
  text-align: center; }

.c-heading__lead {
  font-family: "DancingScriptRegular", sans-serif;
  font-size: 18px;
  color: #6cc111;
  display: block; }

.c-heading__title {
  font-size: 40px;
  color: #442402;
  font-weight: bold;
  margin: 0; }

.c-heading__yao {
  background-image: url(../images/spritesheet.png);
  background-position: -150px -183px;
  width: 147px;
  height: 18px;
  display: inline-block; }

/*
==========================================================================
   END HEADING COMPONENT
==========================================================================
*/
/*
==========================================================================
   START YIELD COMPONENT
==========================================================================
*/
.c-yield {
  padding: 100px 0;
  position: relative; }

.c-yield__wire {
  margin-top: 40px; }

.c-yield__public {
  -webkit-transition: all .3s linear;
  -o-transition: all .3s linear;
  transition: all .3s linear;
  display: none;
  opacity: 0;
  -webkit-transform-origin: center center;
      -ms-transform-origin: center center;
          transform-origin: center center; }
  .c-yield__public.active {
    -webkit-animation: yield-animate .3s linear forwards;
            animation: yield-animate .3s linear forwards; }

@-webkit-keyframes yield-animate {
  0% {
    opacity: 0;
    display: none;
    -webkit-transform: scale(0, 0);
            transform: scale(0, 0); }
  25% {
    opacity: 0.5;
    display: block;
    -webkit-transform: scale(0.25, 0.25);
            transform: scale(0.25, 0.25); }
  50% {
    opacity: 0.7;
    display: block;
    -webkit-transform: scale(0.5, 0.5);
            transform: scale(0.5, 0.5); }
  75% {
    opacity: 0.7;
    display: block;
    -webkit-transform: scale(0.75, 0.75);
            transform: scale(0.75, 0.75); }
  100% {
    display: block;
    opacity: 1;
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1); } }

@keyframes yield-animate {
  0% {
    opacity: 0;
    display: none;
    -webkit-transform: scale(0, 0);
            transform: scale(0, 0); }
  25% {
    opacity: 0.5;
    display: block;
    -webkit-transform: scale(0.25, 0.25);
            transform: scale(0.25, 0.25); }
  50% {
    opacity: 0.7;
    display: block;
    -webkit-transform: scale(0.5, 0.5);
            transform: scale(0.5, 0.5); }
  75% {
    opacity: 0.7;
    display: block;
    -webkit-transform: scale(0.75, 0.75);
            transform: scale(0.75, 0.75); }
  100% {
    display: block;
    opacity: 1;
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1); } }

/*
==========================================================================
   END YIELD COMPONENT
==========================================================================
*/
/*
==========================================================================
   START ITEM COMPONENT
==========================================================================
*/
.c-item {
  text-align: center;
  padding: 0 15px;
  margin: 30px 0; }

.c-item__grid + .c-item__grid {
  margin-top: 40px; }

.c-item__grid--default {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .c-item__grid--default .c-item {
    width: 25%; }

.c-item__name {
  margin: 30px 0 10px 0;
  color: #383838;
  font-weight: 400;
  font-size: 16px; }

.c-item__rating {
  margin-bottom: 10px; }

.c-item__quick {
  position: relative; }
  .c-item__quick::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    border: 1px solid #ef4b69;
    opacity: 0;
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear; }
  .c-item__quick::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    background-color: #fff;
    border: 1px solid #ef4b69;
    opacity: 0;
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear; }
  .c-item__quick:hover::before {
    opacity: 1; }
  .c-item__quick:hover::after {
    opacity: 0.6; }
  .c-item__quick:hover .c-item__utils {
    -webkit-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
            transform: scale(1, 1); }

.c-item__sticker {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 2; }

.c-item__utils {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  top: 0;
  position: absolute;
  z-index: 2;
  -webkit-transition: all .25s linear;
  -o-transition: all .25s linear;
  transition: all .25s linear;
  -webkit-transform-origin: center center;
      -ms-transform-origin: center center;
          transform-origin: center center;
  -webkit-transform: scale(0, 0);
      -ms-transform: scale(0, 0);
          transform: scale(0, 0); }

/*
==========================================================================
   END ITEM COMPONENT
==========================================================================
*/
/*
==========================================================================
   START PRICE COMPONENT
==========================================================================
*/
.c-price--small .c-price__default {
  font-size: 14px; }

.c-price--small .c-price__off {
  font-size: 14px; }

.c-price__default {
  font-family: "DancingScriptRegular", sans-serif;
  font-size: 36px;
  color: #ef4b69; }

.c-price__off {
  color: #a7aea6;
  font-size: 24px;
  display: inline-block;
  margin-left: 15px; }

/*
==========================================================================
   END PRICE COMPONENT
==========================================================================
*/
/*
==========================================================================
   START STICKER COMPONENT
==========================================================================
*/
.c-sticker {
  color: #fff;
  font-size: 13px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .c-sticker span {
    font-family: "BentonSansLight", sans-serif; }

.c-sticker__discount {
  background-image: url(../images/spritesheet.png);
  background-position: -150px -201px;
  width: 45px;
  height: 45px; }

.c-sticker__new {
  background-image: url(../images/spritesheet.png);
  background-position: -195px -201px;
  width: 45px;
  height: 45px; }

.c-sticker__utils {
  position: relative;
  color: #fff;
  background-color: #686868;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  text-decoration: none;
  -webkit-transition: all .3s linear;
  -o-transition: all .3s linear;
  transition: all .3s linear; }
  .c-sticker__utils + .c-sticker__utils {
    margin-left: 10px; }
  .c-sticker__utils:hover {
    background-color: #ef4b69; }
  .c-sticker__utils .fa {
    color: #fff;
    position: absolute;
    top: 47%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }

/*
==========================================================================
   END STICKER COMPONENT
==========================================================================
*/
/*
==========================================================================
   START FALL COMPONENT
==========================================================================
*/
.c-fall {
  width: 100%;
  height: 300px;
  background: url(../images/home/bg-fall.jpg) no-repeat center center;
  background-size: cover;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.c-fall__piboy {
  position: absolute;
  left: 0;
  top: -30px;
  z-index: 1;
  max-width: 500px; }

.c-fall__content {
  width: 60%;
  margin: 0 auto;
  position: relative;
  z-index: 2; }

.c-fall__content__title {
  font-family: "DancingScriptRegular", sans-serif;
  font-size: 36px;
  color: #ffe400;
  display: block; }

.c-fall__content__lead {
  margin: -10px 0 0 0;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 60px; }

.c-fall__charBoy {
  background-image: url(../images/spritesheet.png);
  background-position: 0px -183px;
  width: 150px;
  height: 208px;
  position: absolute;
  right: 0;
  top: -200px; }

/*
==========================================================================
   END FALL COMPONENT
==========================================================================
*/
